/* ===== RESET =====*/
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background-color: #edf1f2;
	font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: normal;
}
p {
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
blockquote {
	margin: 0;
}

/* ===== Default classes */

/* ===== Custom start =====*/
.main{
	display: flex;
	height:100vh;
	justify-content: space-between;
}

.left-sidebar-wrapper{
	min-width:240px;
	height:100%;
	}

.left-sidebar-wrapper .left-sidebar{
	background-color: #4fc8d4;
	color: #fff;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left-sidebar__wrapper-block{
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.left-sidebar__menu{
	width: 100%;
	padding: 0 0 0 10%;
}

.left-sidebar__menu li{
	display: flex;
}

.left-sidebar__menu li+li{
	margin-top:30px ;
}

.left-sidebar__menu li i{
	margin-right: 5%;
}

.main-content-wrapper{
	padding: 70px 100px 70px 100px;
	width:100%;
}

.main-content{
	width:100%;
	display: flex;
	height: 100%;
	flex-direction:column;
}

.top-main-content{
	height:50%;
	display: flex;
	margin-bottom: 5%;
}

.top-main-content__left{
	flex:1;
	background-color: #6dddd4;
	color:#fff;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
}

.top-main-content__left .top-button{
	text-align: center;
 padding: 4px 4px 6px;
 border-radius:10px;
 flex: 1;
}
.top-main-content__left .content{
	flex:10;
}

.top-main-content__right{
	flex:6;
	display: flex;
	flex-direction: column;
}

.top-main-content__right .top-buttons{
	flex:1;
	padding: 4px 4px 6px;
}

.top-main-content__right .main-content__view-block{
	flex:10;
	background-color: #fff;
}

.bottom-main-content{
	height: 45%;
}

.bottom-main-content .scroll-block{
	height: 100%;
 overflow: auto;
}

.bottom-main-content .scroll-block .row{
 display: flex;
 padding-bottom: 10px;
 height: 50%;
 min-height: 80px;
}   

.row__date-block{
	height: 100%;
	max-width: 20%;
	border-radius: 5px;
	padding: 0.5em 10px 0 10px;
	background-color: #6dddd4;
	color:#fff;
}

.row__date-block .date-icon{
	font-size: 12px;
}

.row__date-block .date__day{
	font-size: 35px;
}

.row .date{
	display: flex;
	flex-wrap: wrap;
}

.row .date .date__month{
	font-size: 11px;
}

.row__disease-block{
	display: flex;
	width: 100%;
  margin-left: 2%;
  background-color: #fff;
  border-radius: 5px;
  font-size: 0.69rem;
}

.row__disease-block .row-disease-element{
	display: flex;
	height: 100%;
	align-items: center;
	flex: 3;
}

.row__disease-block .row-element-title-wrapper{
	height: 100%;
	background-color: #dedede;
  border-radius:5px 0 0 5px;
  padding: 20px 5px;
  text-align: center;
  display: flex;
}

.row__disease-block .row-element-title{
	writing-mode:tb-rl;
}

.row-disease-element .diagnos-wrapper{
	height:100%;
}

.row-block-wrapper{
	padding: 5px 10px;
}

.row-disease-element .diagnos{
	height:50%;
	display: flex;
	min-height: 30px;
}

.diagnos .diagnos-item{
	display: flex;
	align-items:center;
}

.diagnos-item__picture{
	height:100%;
}

.diagnos-item__picture img{
	max-height:100%;
}

.row-disease-element.row__done{
	flex:4;
}

.row__done .done{
	height:100%;
}

.row__done .done .done-item{
	height:50%;
	display: flex;
	align-items:center;
	font-weight: 500;
}

.right-sidebar-wrapper{
	min-width:240px;
	max-width:250px;
	height:100%;
	border:1px solid black;
	padding:0 15px 15px 15px;
}

.right-sidebar{
	height:100%;
}

.right-sidebar::before{
	content:'';
	display: block;
	width: 100%;
	height:33%;
}

.right-sidebar__content{
	 max-height: 100%;
}

.right-sidebar .block__content{
	display: flex;
	flex-direction:column;
	overflow:auto;
	margin-bottom: 30px;
}

.right-sidebar .block__button{
	font-size: 40px;
	text-align: center;
}

